.logInBox {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(238, 232, 232);
    border-radius: 5px;
    box-shadow: 10;
    box-shadow: 5px 19px 20px 0px #b5adad96;
    position: relative;
}

.log-in {
    max-width: 420px;
    min-height: 26em;
    margin-top: 160pt;
}

.create-user {
    margin-top: 70pt;
    max-width: 800px;
    padding: 100px;
}

.form-check-input {
    margin-left: 0rem !important;
    flex: none;
}

#loginUser {
    position: absolute;
    top: -150px;
    height: 250px;
}

#existingAccount {
    padding-top: 70px;
    .form-group {
        .col-sm-5 {
            padding-right: 0;
        }
        .col-sm-7 {
            padding-left: 0;
        }
    }
}

#logInButton {
    padding: .30rem;
}

#searchUser {
    height: 150px;
}

#searchUserBtn {
    padding: 6px !important;
}

#search {
    border-right: 1px solid rgb(206, 206, 206);
}